@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
:root {
  --cardHeight: 23.1vh;
  --cardWidth: 125px;
}
body {
  font: normal normal large "M PLUS 1 Code", courier, serif;
  margin: 5px;
  /* background: radial-gradient(farthest-side at 10% 10%, pink, beige) fixed; */
  /* background: black; */
}
.topCol {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
}
.torches {
  border: 2px dotted gray;
  display: flex;
  height: var(--cardHeight);
  width: calc(var(--cardWidth) * 4 + 40px);
}
.rooms {
  border: 2px dotted gray;
  height: var(--cardHeight);
  width: var(--cardWidth);
}

.dungeonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.delve,
.retreat {
  display: flex;
  height: var(--cardHeight);
  border: 2px dotted gray;
  margin-bottom: 10px;
}
.retreat {
  flex-direction: column-reverse;
}

.bottomCol {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
}
.hand {
  height: var(--cardHeight);
  display: flex;
  width: calc(var(--cardWidth) * 4 + 40px);
  border: 2px dotted gray;
}
.HP {
  height: var(--cardHeight);
  display: flex;
  width: var(--cardWidth);
  border: 2px dotted gray;
}
/* Segue seletores não prontos */

.card {
  height: var(--cardHeight);
  width: var(--cardWidth);
  margin: 5px;
}
