@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
:root {
  --cardHeight: 23.1vh;
  --cardWidth: 125px;
  --fade: #ff3f3f, #a22273, #010822;
}
body {
  font: normal normal large "M PLUS 1 Code", courier, serif;
  margin: 5px;
  background: linear-gradient(#ff2e2e, #070f2b) fixed;
}
.hud {
  border-radius: 6px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.topCol {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
}
.torches, .hand{
  display: flex;
  height: var(--cardHeight);
  width: calc(var(--cardWidth) * 4 + 40px);
}
.rooms, .HP {
  background: linear-gradient(var(--fade));
  display: flex;
  flex-direction: column;
  height: var(--cardHeight);
  width: var(--cardWidth);
  justify-content: center;
}
p{
  align-self: center;
}
.remaining {
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  width: 60px;
  height: 25px;
  border-radius: 25px;
}

.dungeonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  height: calc(var(--cardHeight) * 2);
  justify-content: center;
}
.delve {
  display: flex;
  height: var(--cardHeight);
  margin-bottom: 10px;
}
.retreat {
  visibility: hidden;
  display: flex;
  /* height: var(--cardHeight);  ATIVAR QND FOR RETORNAR */
  margin-bottom: 10px;
  flex-direction: column-reverse;
}

.bottomCol {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
}

/* Segue seletores não prontos */

.card {
  height: var(--cardHeight);
  width: var(--cardWidth);
  margin: 5px;
}
