@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
:root {
  --cardHeight: 23.1vh;
  --cardWidth: 125px;
  --fade: #ff3f3f, #a22273, #010822;
}
body {
  font: normal normal large "M PLUS 1 Code", courier, serif;
  margin: 5px;
  background: linear-gradient(#ff2e2e, #070f2b) fixed;
}
.hud {
  border-radius: 6px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.cardBack {
  background: linear-gradient(var(--fade));
  border: 1px solid gray;
  height: var(--cardHeight);
  width: var(--cardWidth);
}
.cardFront {
  background: linear-gradient(90deg, gray, silver);
  border: 1px solid #a22273;
  height: var(--cardHeight);
  width: var(--cardWidth);
}
.topCol,
.bottomCol {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
}
.torches,
.hand {
  display: inherit;
  height: var(--cardHeight);
  width: calc(var(--cardWidth) * 4 + 40px);
}
.rooms {
  display: inherit;
  justify-content: center;
  align-items: center;
}

#roomsLeft {
  display: inherit;
  background-color: rgba(128, 128, 128, 0.5);
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 25px;
}

.dungeonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  height: calc(var(--cardHeight) * 2);
  justify-content: center;
}
.delve {
  display: inherit;
  height: var(--cardHeight);
  margin-bottom: 10px;
}
.retreat {
  visibility: hidden;
  display: inherit;
  /* height: var(--cardHeight);  ATIVAR QND FOR RETORNAR */
  margin-bottom: 10px;
  flex-direction: column-reverse;
}
.HP {
  display: inherit;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#heart {
  background-color: white;
}
/* Segue seletores não prontos */

.card {
  height: var(--cardHeight);
  width: var(--cardWidth);
  margin: 5px;
}

.ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--cardHeight)-2px);
  width: var(--cardWidth);
  background-color: rgba(255, 255, 255, 0.05);
  border: 5px solid rgba(128, 128, 128, 0.05);
  border-radius: 4px;
}
